<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Username:" %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label "LUID:" %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label "First Name:" %><br />
    <%= f.text_field :f_name %>
  </div>
  <div class="field">
    <%= f.label "Last Name:" %><br />
    <%= f.text_field :l_name %>
  </div>
  <div class="field">
    <%= f.label "Email:" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Password:" %><br />
    <%= f.password_field :password %>
  </div>
	<div class="field">
    <%= f.label "Type false to continue" %><br />
    <%= f.number_field :is_admin %>
  </div> 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
